@import "../../../styles/mixins.scss";
.seccion {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-height: calc(100vh - 50px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: #cccccc;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(4, 73, 80, 0.7);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #044950;
  }

  @include media-xl() {
    justify-content: flex-start;
  }
}

.headerSeccion {
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  top: 50px;
  font-size: 22px;
  background: #d9d9d9;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 5px;
  z-index: 4;
}

.footerSeccion {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #d9d9d9;
  z-index: 4;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
